---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Code, Tabs, TabItem, LinkCard } from "@astrojs/starlight/components";

import {
  createThemeInstall,
  THEME_BRAND,
  THEME_TITLES,
  ACTUAL_THEMES,
  type ActualTheme,
} from "@/shared";
import { DEFAULT_LOCALE } from "@/i18n";
import Npm from "@/components/npm.astro";
import FormCard from "@/components/form-card.astro";

import ThemeForm from "./_theme-form.svelte";

import schemaCode from "./_schema?raw";
import validatorCode from "./_validator?raw";
import withBasicCode from "./_with-basic.svelte?raw";
import withSkeleton3Code from "./_with-skeleton3.svelte?raw";
import withDaisyui5Code from "./_with-daisyui5.svelte?raw";
import withFlowbite3Code from "./_with-flowbite3.svelte?raw";
import withShadcn4Code from "./_with-shadcn4.svelte?raw";

import daisyu5Styles from "@sjsf/daisyui5-theme/styles.css?inline";
import flowbiteStyles from "@sjsf/flowbite3-theme/styles.css?inline";
import skeleton3Styles from "@sjsf/skeleton3-theme/styles.css?inline";
import shadcn4Styles from "@sjsf/shadcn4-theme/styles.css?inline";

const CODE = {
  basic: withBasicCode,
  daisyui5: withDaisyui5Code,
  flowbite3: withFlowbite3Code,
  skeleton3: withSkeleton3Code,
  shadcn4: withShadcn4Code,
} satisfies Record<ActualTheme, string>;

const STYLES = {
  basic: "",
  daisyui5: daisyu5Styles,
  flowbite3: flowbiteStyles,
  skeleton3: skeleton3Styles,
  shadcn4: shadcn4Styles,
} satisfies Record<ActualTheme, string>;

const locale = Astro.currentLocale ?? DEFAULT_LOCALE;
const initialTheme = (Astro.params.theme ?? "basic") as ActualTheme;

const styles = ACTUAL_THEMES.map(
  (theme) => `
  .theme-tabs:has(.theme-tab[data-theme="${theme}"]:checked) ~ .theme-content[data-theme="${theme}"] {
    display: block;
    height: 100%
  }
`
).join("\n");
---

<div class="theme-tabs">
  {
    ACTUAL_THEMES.map((theme) => (
      <input
        type="radio"
        name="theme-input"
        class="theme-tab"
        aria-label={THEME_TITLES[theme]}
        checked={theme === initialTheme}
        data-theme={theme}
      />
    ))
  }
</div>
{
  ACTUAL_THEMES.map((theme) => (
    <div class="theme-content" data-theme={theme}>
      {THEME_BRAND[theme] && (
        <p>
          This theme is not affiliated with, endorsed by, or sponsored by "
          {THEME_BRAND[theme]}" brand.
        </p>
      )}
      <Npm pkg={createThemeInstall(theme)} />

      <LinkCard
        title={`${THEME_TITLES[theme]} theme setup`}
        href={getRelativeLocaleUrl(locale, `/themes/${theme}/`)}
      />

      <h2 id="usage">Usage</h2>

      <Tabs>
        <TabItem label="Form.svelte">
          <Code code={CODE[theme]} lang="svelte" />
        </TabItem>
        <TabItem label="_schema.ts">
          <Code code={schemaCode} lang="typescript" />
        </TabItem>
        <TabItem label="_validator.ts">
          <Code code={validatorCode} lang="typescript" />
        </TabItem>
      </Tabs>

      <FormCard style={STYLES[theme]}>
        <ThemeForm theme={theme} client:only="svelte" />
      </FormCard>
    </div>
  ))
}

<style>
  .theme-tabs {
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    position: sticky;
    top: calc(64px + 1rem);
  }
  .theme-tab {
    min-width: fit-content;
    appearance: none;
    cursor: pointer;
    text-align: center;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding-inline: 1.25rem;
    padding-block: 0.15rem;
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 2rem;
    background-color: var(--sl-color-bg);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: var(--sl-shadow-md); */
    &:after {
      content: attr(aria-label);
    }
    &:checked {
      background-color: var(--sl-color-gray-5);
      border-color: var(--sl-color-text-accent);
    }
  }
  .theme-content {
    display: none;
    width: 100%;
    order: 1;
    margin-top: 1rem;
    &:nth-child(2) > :global(:nth-child(2)) {
      margin-top: 0;
    }
  }
</style>

<style set:html={styles}></style>
