---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "@astrojs/starlight/components";
import Default from "@astrojs/starlight/components/PageTitle.astro";

import { getPackageMetadataByCodeName } from "@/shared";

const { data } = Astro.locals.starlightRoute.entry;
let meta: ReturnType<typeof getPackageMetadataByCodeName>;
---

{
  data.type === "package" ? (
    ((meta = getPackageMetadataByCodeName(data.packageCodeName)),
    (
      <div class="wrapper">
        <h1 id="_top">
          <>
            {/* <span class="scope">@astrojs/</span> */}
            <span>{data.title}</span>
          </>
        </h1>
        <div class="integration-metadata">
          <span>v{meta.version}</span>
          <a href={meta.githubUrl}>
            <Icon size="1rem" name="github" /> GitHub
          </a>
          <a href={meta.npmUrl}>
            <Icon size="1rem" name="npm" /> npm
          </a>
          <a href={meta.npmxUrl}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              width="16"
              height="16"
              version="1.1"
            >
              <rect width="512" height="512" rx="64" fill="currentColor" />
              <rect
                x="110"
                y="310"
                width="60"
                height="60"
                fill="var(--sl-color-bg)"
              />
              <text
                x="320"
                y="370"
                font-family="'Geist Mono', ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, monospace"
                font-size="420"
                font-weight="500"
                text-anchor="middle"
                fill="var(--sl-color-bg)"
              >
                <tspan>/</tspan>
              </text>
            </svg>
            npmx
          </a>
          <a
            href={getRelativeLocaleUrl(
              Astro.currentLocale ?? "en",
              meta.changelogPath
            )}
          >
            <Icon size="1rem" name="list-format" /> Changelog
          </a>
        </div>
      </div>
    ))
  ) : (
    <Default>
      <slot />
    </Default>
  )
}

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  h1 {
    display: flex;
    flex-wrap: wrap;
    color: var(--sl-color-white);
    font-size: var(--sl-text-h1);
    font-weight: 600;
    line-height: var(--sl-line-height-headings);
  }
  .scope {
    color: var(--sl-color-text);
    font-weight: 400;
  }
  .integration-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem 1rem;
    font-size: var(--sl-text-xs);
  }
  .integration-metadata a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: var(--sl-color-text-accent);
  }
  .integration-metadata a:hover {
    color: var(--sl-color-white);
  }
  .integration-metadata svg {
    width: 1.5rem;
  }
</style>
