---
import { Code, Tabs, TabItem } from "@astrojs/starlight/components";
import { themeOrSubThemeTitle } from "meta";

import { actualThemes, type ActualTheme } from "@/shared";
import FormCard from "@/components/form-card.astro";
import StaticTabs from "@/components/static-tabs.astro";

import Form from "./form.svelte";

import schemaCode from "./model?raw";
import withBasicCode from "./basic/form.svelte?raw";
import withSkeleton4Code from "./skeleton4/form.svelte?raw";
import withDaisyui5Code from "./daisyui/form.svelte?raw";
import withFlowbite3Code from "./flowbite/form.svelte?raw";
import withShadcn4Code from "./shadcn4/form.svelte?raw";

import basicDefaultsCode from "./basic/defaults.ts?raw";
import skeleton4DefaultsCode from "./skeleton4/defaults.ts?raw";
import daisyui5DefaultsCode from "./daisyui/defaults.ts?raw";
import flowbite3DefaultsCode from "./flowbite/defaults.ts?raw";
import shadcn4DefaultsCode from "./shadcn4/defaults.ts?raw";

import basicStyles from "@sjsf/basic-theme/css/basic.css?raw";
import daisyu5Styles from "@sjsf/daisyui5-theme/styles.css?raw";
import flowbiteStyles from "@sjsf/flowbite3-theme/styles.css?raw";
import skeleton4Styles from "@sjsf/skeleton4-theme/styles.css?raw";
import shadcn4Styles from "@sjsf/shadcn4-theme/styles.css?raw";

const CODE = {
  basic: withBasicCode,
  daisyui5: withDaisyui5Code,
  flowbite3: withFlowbite3Code,
  skeleton4: withSkeleton4Code,
  shadcn4: withShadcn4Code
    .replace(
      'import * as extraComponents from "@sjsf-lab/shadcn-extras-theme/ui";\n',
      ""
    )
    .replace("components: { ...components, ...extraComponents }", "components"),
} satisfies Record<ActualTheme, string>;

const DEFAULTS = {
  basic: basicDefaultsCode,
  daisyui5: daisyui5DefaultsCode,
  flowbite3: flowbite3DefaultsCode,
  skeleton4: skeleton4DefaultsCode,
  shadcn4: shadcn4DefaultsCode,
} satisfies Record<ActualTheme, string>;

const STYLES = {
  basic: basicStyles,
  daisyui5: daisyu5Styles,
  flowbite3: flowbiteStyles,
  skeleton4: skeleton4Styles,
  shadcn4: shadcn4Styles,
} satisfies Record<ActualTheme, string>;

export interface Props {
  theme?: ActualTheme
}

const initialTheme = (Astro.props.theme ?? "basic");

const ACTUAL_THEMES = Array.from(actualThemes());
---

<StaticTabs
  sticky
  tabs={ACTUAL_THEMES.map((theme) => ({
    key: theme,
    label: themeOrSubThemeTitle(theme),
    checked: theme === initialTheme,
  }))}
>
  {
    ACTUAL_THEMES.map((theme) => (
      <div class="static-content" data-theme={theme}>
        <Tabs>
          <TabItem label="form.svelte">
            <Code code={CODE[theme]} lang="svelte" />
          </TabItem>
          <TabItem label="model.ts">
            <Code code={schemaCode} lang="typescript" />
          </TabItem>
          <TabItem label="defaults.ts">
            <Code code={DEFAULTS[theme]} lang="typescript" />
          </TabItem>
        </Tabs>

        <FormCard style={STYLES[theme]}>
          <Form theme={theme} client:only="svelte" />
        </FormCard>
      </div>
    ))
  }
</StaticTabs>
